[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "DirStats"]
	path = DirStats
	url = https://github.com/egarpor/dirstats
	shallow = true
	registered = true
[submodule "goffda"]
	path = goffda
	url = https://github.com/egarpor/goffda
	shallow = true
	registered = true
[submodule "ridgetorus"]
	path = ridgetorus
	url = https://github.com/egarpor/ridgetorus
	shallow = true
	registered = true
[submodule "rotasym"]
	path = rotasym
	url = https://github.com/egarpor/rotasym
	shallow = true
	registered = true
[submodule "sdetorus"]
	path = sdetorus
	url = https://github.com/egarpor/sdetorus
	shallow = true
	registered = true
[submodule "sphunif"]
	path = sphunif
	url = https://github.com/egarpor/sphunif
	shallow = true
	registered = true
