[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "DirStats"]
	path = DirStats
	url = https://github.com/egarpor/dirstats
[submodule "goffda"]
	path = goffda
	url = https://github.com/egarpor/goffda
[submodule "ridgetorus"]
	path = ridgetorus
	url = https://github.com/egarpor/ridgetorus
[submodule "rotasym"]
	path = rotasym
	url = https://github.com/egarpor/rotasym
[submodule "sdetorus"]
	path = sdetorus
	url = https://github.com/egarpor/sdetorus
[submodule "sphunif"]
	path = sphunif
	url = https://github.com/egarpor/sphunif
